/* header */
a{ display: block;}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 888;
  transition: 0.4s;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.8);
}
.sponsor{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}
.logo_main img,.logo_customer img{
  display: inline-block;
  height: 60px;
  vertical-align: middle;
  padding: 12px 0 12px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

/* menubar */
.menubar{
  width: 60%;
  position: fixed;
  margin-top: 10px;
  z-index: 999;
  overflow: hidden;
  right: 0;
}
.nav {
  float: right;
  margin-right: 30px;
}
.nav li{
  float: left;
  margin-left: 30px;
  padding: 10px 3px 10px 30px;
  color: #6f4810;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav li a{color: #6f4810;}
.nav li:nth-child(1)::before{ background: url(../images/icon/icon-messenger.png) center center no-repeat; }
.nav li:nth-child(2)::before{ background: url(../images/icon/icon-book.png) center center no-repeat;;}
.nav li:nth-child(1)::before,.nav li:nth-child(2)::before{
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  color: #fff;
  width: 25px;
  height: 25px;
  background-size: contain;
}
.nav li:nth-child(n)::after{
  content: "";
  position: absolute;
  top: initial;
  left: 0px;
  bottom: -4px;
  background-color: #6f4810;
  width: 100%;
  height: 3px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav li:hover:nth-child(n)::after {
  bottom: 0px;
}
.nav .share{
  margin: auto 0 auto 20px ;
  padding: 8px 0 7px;
}
.share a img{
  height: 27px;
}
.icon_pc {
  display: block;
}
.icon_mb {
  display: none;
}
@media (max-width: 769px) {
  .icon_pc {
    display: none;
  }
  .icon_mb {
    display: block;
  }
  .nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: initial;
    margin: 0 auto;
  }
  .menubar {
    width: 100%;
    position: fixed;
    bottom: 1%;
    margin-top: 10px;
    z-index: 777;
    overflow: hidden;
    right: initial;
  }
  .nav li:nth-child(1)::before, .nav li:nth-child(2)::before{
    display: none;
  }
  .nav li:nth-child(1){
    background: url(../images/icon/icon-messenger_mb.png) center no-repeat;
  }
  .nav li:nth-child(2){
    background: url(../images/icon/icon-book_mb.png) center no-repeat;
  }
  .nav li:nth-child(1),  .nav li:nth-child(2){
    background-size: contain;
    text-indent: -9999;
    overflow: hidden;
    width: 50px;
    padding: 29px 0 0;
    margin-top: 2px;
  }
  .share a img {
    height: 50px;
  }
}
@media (max-width: 415px) {
  .nav li:nth-child(1), .nav li:nth-child(2) {
    margin-left: 10px;
  }
}
/* kumon 0425新增 */
.chart_years{
  font-size: 14px;
  color: #6f6f6f;
}

