@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
body {
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
}

.pc_only {
  display: block;
}

@media all and (max-width: 769px) {
  .pc_only {
    display: none;
  }
}

.mb_only {
  display: none;
}

@media all and (max-width: 769px) {
  .mb_only {
    display: block;
  }
}

.section1 {
  position: relative;
  overflow: hidden;
  /*kv_video*/
}

.section1 img {
  width: 100%;
}

.section1 .kvBox {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1 .title_kv--inner1 {
  margin: 10px 0;
}

.section1 .title_kv--inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .title_kv--inner2 .cw40logo {
  width: 36%;
  margin: 1%;
}

.section1 .title_kv--inner2 .cross {
  width: calc(5%);
  margin: 1% 5%;
  height: calc(5%);
}

.section1 .title_kv--inner2 .logo {
  width: 46%;
  margin: 1%;
}

.section1 .title_kv--inner3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.section1 .title_kv--inner3 .play {
  width: 20px !important;
  height: 20px !important;
  margin-left: 5px;
}

.section1 .scroll_down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 25px;
  z-index: 3;
  cursor: pointer;
}

.section1 .scroll_down img {
  width: 50px;
  margin: auto;
}

.section1 .scroll_down p {
  color: #fff;
  padding: 0;
  margin: 0;
}

.section1 .mask {
  opacity: 0.3;
  background-color: #000000;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.section1 .mask_kv {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.section1 .title_kv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 70%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 280px;
  -webkit-animation: title_kv 1 1s 1s linear backwards;
          animation: title_kv 1 1s 1s linear backwards;
}

@-webkit-keyframes title_kv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title_kv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 500px) {
  .section1 .title_kv {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .section1 .title_kv {
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    width: 30%;
    max-width: 370px;
  }
}

@media screen and (min-width: 1500px) {
  .section1 .title_kv {
    max-width: 400px;
  }
}

.section1 .kvVideo {
  width: 100%;
  /* max-height: 1366px; */
  overflow: hidden;
  z-index: -1;
}

.section1 .iframe {
  /* height: 100vh; */
  margin: auto;
  position: relative;
}

.section1 .video-container {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-image: url(./../images/kv/kv_pc.jpg);
  background-size: cover;
  background-position: center top;
}

@media all and (max-width: 769px) {
  .section1 .video-container {
    background-image: url(./../images/kv/kv_mb.jpg);
  }
}

.section1 .video-container iframe,
.section1 .video-container object,
.section1 .video-container embed,
.section1 .video-container iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
  min-height: 100%;
  width: 100%;
  z-index: -100;
  height: 100vh;
}

.section1 .kv {
  position: relative;
  z-index: 1;
}

.section1 .shadow_block {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(transparent), to(transparent));
  background: linear-gradient(180deg, #000, transparent, transparent);
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  justify-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  top: 0;
}

.section1 #video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.section2 {
  padding: 100px 0;
}

@media all and (max-width: 769px) {
  .section2 {
    padding: 50px 0 80px;
  }
}

.section2__con p {
  display: inline-block;
}

.section2__con a {
  color: #469dad;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: initial;
  text-decoration: none;
  border-bottom: 1px solid #469dad;
}

.section2__con a:hover {
  border-bottom: 1px solid rgba(70, 157, 173, 0.4);
}

.section2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section2__inner--photo {
  width: 50%;
}

@media all and (max-width: 769px) {
  .section2__inner--photo {
    width: 90%;
  }
}

.section2__inner--word {
  width: 50%;
  padding: 50px 80px;
  line-height: 40px;
  font-size: 20px;
}

@media all and (max-width: 769px) {
  .section2__inner--word {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: 35px;
  }
}

.section2__inner img {
  width: 100%;
}

.section2__inner .quote {
  color: #4e381d;
  font-size: 30px;
  line-height: 40px;
}

@media all and (max-width: 769px) {
  .section2__inner .quote {
    font-size: 26px;
    line-height: 35px;
  }
}

.section2__inner h2 {
  font-size: 45px;
  color: #4e381d;
  font-weight: 700;
  line-height: 70px;
  font-family: 'Noto Serif TC', serif;
}

@media all and (max-width: 1280px) {
  .section2__inner h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

.section3__con--up {
  background-color: #262a34;
}

.section3__con--up .section3__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section3__con--up .section3__inner--left {
  width: 40%;
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #fff;
}

@media all and (max-width: 1280px) {
  .section3__con--up .section3__inner--left {
    padding: 20px 30px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--left {
    width: 100%;
    padding: 50px 20px;
  }
}

.section3__con--up .section3__inner--left .quote {
  color: #efd7bb;
  font-size: 30px;
  line-height: 40px;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--left .quote {
    font-size: 26px;
    line-height: 35px;
  }
}

.section3__con--up .section3__inner--left h2 {
  color: #efd7bb;
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  font-family: 'Noto Serif TC', serif;
}

@media all and (max-width: 1280px) {
  .section3__con--up .section3__inner--left h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

.section3__con--up .section3__inner--left span {
  font-size: 99px;
  color: #fff;
}

.section3__con--up .section3__inner--left p {
  color: #a6937c;
}

.section3__con--up .section3__inner--left--left {
  width: 40%;
}

.section3__con--up .section3__inner--left--right {
  width: 40%;
}

.section3__con--up .section3__inner--right {
  width: 60%;
  color: #efd7bb;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right {
    width: 100%;
  }
}

.section3__con--up .section3__inner--right .year__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__con {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section3__con--up .section3__inner--right .year__con--line1 {
  width: 25%;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__con--line1 {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section3__con--up .section3__inner--right .year__con--line1 .year__inner {
    width: 33.3333%;
  }
}

.section3__con--up .section3__inner--right .year__con--line2 {
  width: 25%;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__con--line2 {
    width: 33.3333%;
  }
}

.section3__con--up .section3__inner--right .year__con--line3 {
  width: 25%;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__con--line3 {
    width: 33.3333%;
  }
}

.section3__con--up .section3__inner--right .year__con--line4 {
  width: 25%;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__con--line4 {
    width: 33.3333%;
  }
}

.section3__con--up .section3__inner--right .year__inner {
  position: relative;
  cursor: pointer;
}

.section3__con--up .section3__inner--right .year__inner:hover::after {
  background-color: rgba(38, 42, 52, 0.4);
}

.section3__con--up .section3__inner--right .year__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 42, 52, 0.8);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section3__con--up .section3__inner--right .year__inner img {
  width: 100%;
  vertical-align: middle;
  height: auto;
  position: relative;
  outline: 1px solid #fff;
}

.section3__con--up .section3__inner--right .year__inner p {
  position: absolute;
  z-index: 1;
  font-family: 'Noto Serif TC', serif;
  text-shadow: 0px 0px 10px #000;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
}

@media all and (max-width: 769px) {
  .section3__con--up .section3__inner--right .year__inner p {
    font-size: 20px;
  }
}

.section3__con--down {
  background-color: #2a2f3d;
}

.section3__con--down .section3__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section3__con--down .section3__inner--left {
  width: 40%;
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--left {
    padding: 20px 20px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--left {
    width: 100%;
    padding: 20px 20px 20px;
  }
}

.section3__con--down .section3__inner--left .bg {
  position: absolute;
  font-size: 250px;
  text-shadow: 0 0 1px #eed7bc;
  color: #2c303b;
  left: 45%;
  top: 50%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  opacity: 0.7;
  font-style: italic;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: -37px;
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--left .bg {
    font-size: 200px;
    top: 50%;
    letter-spacing: -10px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--left .bg {
    font-size: 150px;
    top: 50%;
  }
}

@media all and (max-width: 321px) {
  .section3__con--down .section3__inner--left .bg {
    font-size: 130px;
    top: 50%;
  }
}

.section3__con--down .section3__inner--left span {
  color: #fff;
  position: relative;
  z-index: 1;
  font-style: italic;
  font-family: 'Noto Serif TC', serif;
  font-size: 70px;
}

@media all and (min-width: 768px) {
  .section3__con--down .section3__inner--left span {
    font-size: 99px;
  }
}

.section3__con--down .section3__inner--left img {
  height: auto;
  width: 40%;
  position: relative;
  z-index: 1;
}

@media all and (min-width: 768px) {
  .section3__con--down .section3__inner--left img {
    padding-top: 0%;
  }
}

@media all and (min-width: 1200px) {
  .section3__con--down .section3__inner--left img {
    padding-top: 20%;
  }
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--left img {
    margin-top: 80px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--left img {
    height: auto;
    width: 40%;
  }
}

.section3__con--down .section3__inner--right {
  width: 60%;
  color: #efd7bb;
  padding: 50px 0;
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--right {
    width: 50%;
    margin: auto;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right {
    padding: 0px 0 50px;
  }
}

.section3__con--down .section3__inner--right .owl-theme .owl-dots button {
  outline: none;
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--right .owl-theme .owl-dots {
    margin-top: 0px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .owl-theme .owl-dots {
    margin-top: -30px;
    z-index: 100;
    position: relative;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .owl-theme .owl-dots .owl-dot.active span {
    width: 25px;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .owl-theme .owl-dots .owl-dot span {
    height: 7px;
    outline: none;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-prev {
    left: -25%;
  }
}

@media all and (max-width: 440px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-prev {
    left: -35%;
  }
}

@media all and (max-width: 376px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-prev {
    left: -40%;
  }
}

@media all and (max-width: 321px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-prev {
    left: -43%;
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-next {
    right: -25%;
  }
}

@media all and (max-width: 440px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-next {
    right: -35%;
  }
}

@media all and (max-width: 376px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-next {
    right: -40%;
  }
}

@media all and (max-width: 321px) {
  .section3__con--down .section3__inner--right .owl-carousel .owl-nav .owl-next {
    right: -43%;
  }
}

.section3__con--down .section3__inner--right .item {
  margin: 70px 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--right .item {
    margin: 50px 0px;
  }
}

.section3__con--down .section3__inner--right .item p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px 15px;
  color: #fff;
  width: 100%;
  font-size: 13px !important;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent);
}

.section3__con--down .section3__inner--right .center {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  position: relative;
  z-index: 1000;
}

@media all and (max-width: 1280px) {
  .section3__con--down .section3__inner--right .center {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right .center {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media all and (max-width: 769px) {
  .section3__con--down .section3__inner--right {
    width: 80%;
    margin: auto;
  }
}

.section3__con--down .section3__inner--right img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.chartNum_1 {
  color: #f9ff4b;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

.chartNum_2 {
  color: #ff4c76;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

.chartNum_3 {
  color: #a6937c;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.section4 {
  padding: 100px 0 0;
  background-image: url("./../images/chart/bg-chart.jpg");
  background-size: cover;
}

@media all and (max-width: 769px) {
  .section4 {
    padding: 100px 0 0;
    background-image: url("./../images/chart/bg-chart_mb.jpg");
  }
}

.section4__con {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.section4__inner {
  padding: 50px 0;
}

@media all and (max-width: 769px) {
  .section4__inner {
    padding: 50px 30px;
  }
}

.section4__inner > p {
  font-size: 20px;
  line-height: 30px;
  color: #a6937c;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section4__inner--chart1 {
  border: 7px solid #15a1ff;
  max-width: 680px;
  margin: auto;
  background-color: #00495d;
  padding: 30px 10px;
  position: relative;
  text-align: left;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 {
    padding-bottom: 120px;
  }
}

.section4__inner--chart1 .chart__inner {
  position: relative;
}

.section4__inner--chart1 .chart__inner--line1 {
  width: 0%;
  height: 20px;
  background-color: #7ecef4;
  margin-left: -10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section4__inner--chart1 .chart__inner--num {
  margin-left: 10%;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .chart__inner--num {
    margin-left: 7%;
  }
}

.section4__inner--chart1 .chart__inner--num3 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .chart__inner--num3 {
    position: relative;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.section4__inner--chart1 .chart__inner--line2 {
  width: 0%;
  height: 20px;
  background-color: #7ecef4;
  margin-left: -10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 10px;
}

.section4__inner--chart1 .chart__inner--line3 {
  width: 0%;
  height: 20px;
  background-color: #7ecef4;
  margin-left: -10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .chart__inner--line3 {
    margin-bottom: 0px;
  }
}

.section4__inner--chart1 .chart__inner--line3 span {
  line-height: 33px;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .chart__inner--line3 span {
    line-height: auto;
  }
}

.section4__inner--chart1 .chart__inner--line4 {
  width: 0%;
  height: 20px;
  background-color: #7ecef4;
  margin-left: -10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 10px;
}

.section4__inner--chart1 .chart__inner--line1Ani {
  -webkit-animation: line1Ani 1.5s forwards linear;
          animation: line1Ani 1.5s forwards linear;
}

.section4__inner--chart1 .chart__inner--line2Ani {
  -webkit-animation: line2Ani 1.5s forwards linear;
          animation: line2Ani 1.5s forwards linear;
}

.section4__inner--chart1 .chart__inner--line3Ani {
  -webkit-animation: line3Ani 1.5s forwards linear;
          animation: line3Ani 1.5s forwards linear;
}

.section4__inner--chart1 .chart__inner--line4Ani {
  -webkit-animation: line4Ani 1.5s forwards linear;
          animation: line4Ani 1.5s forwards linear;
}

@-webkit-keyframes line1Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes line1Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@-webkit-keyframes line2Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@keyframes line2Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@-webkit-keyframes line3Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

@keyframes line3Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

@-webkit-keyframes line4Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 58%;
  }
}

@keyframes line4Ani {
  0% {
    width: 0%;
  }
  100% {
    width: 58%;
  }
}

.section4__inner--chart1 p {
  color: #fff;
}

.section4__inner--chart1 p .chartNum {
  color: #f00;
}

.section4__inner--chart1 .pic_left {
  position: absolute;
  left: -20%;
  top: 0;
  height: 100%;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .pic_left {
    position: absolute;
    height: 35%;
    left: 3%;
    bottom: -5%;
    top: initial;
  }
}

.section4__inner--chart1 .pic_left img {
  height: 100%;
}

.section4__inner--chart1 .pic_right {
  position: absolute;
  right: -15%;
  bottom: -15%;
  height: 70%;
}

@media all and (max-width: 769px) {
  .section4__inner--chart1 .pic_right {
    position: absolute;
    height: 30%;
    right: 0%;
    bottom: -5%;
  }
}

.section4__inner--chart1 .pic_right img {
  height: 100%;
}

.section4__inner--chart2 .chart__inner1 {
  position: relative;
}

.section4__inner--chart2 .chart__inner1 .chart_bg {
  position: absolute;
  width: 200%;
  left: -10%;
  top: 115%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media all and (max-width: 769px) {
  .section4__inner--chart2 .chart__inner1 .chart__inner--left {
    width: 45%;
  }
  .section4__inner--chart2 .chart__inner1 .chart__inner--left img {
    position: relative;
    z-index: 1;
  }
}

.section4__inner--chart2 .chart__inner1 .chart__inner--right {
  position: relative;
}

@media all and (max-width: 769px) {
  .section4__inner--chart2 .chart__inner1 .chart__inner--right {
    width: 55%;
  }
  .section4__inner--chart2 .chart__inner1 .chart__inner--right p {
    border-bottom: 1px solid #00495d;
    padding-bottom: 10px;
    display: inline-block;
    color: #00495d;
    padding: 10px 0 10px 20%;
    margin-left: -15%;
  }
  .section4__inner--chart2 .chart__inner1 .chart__inner--right p .chartNum {
    color: #f00;
  }
}

@media all and (max-width: 769px) {
  .section4__inner--chart2 .chart__inner2 .chart__inner--left {
    width: 55%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section4__inner--chart2 .chart__inner2 .chart__inner--left p {
    border-bottom: 1px solid #00495d;
    padding-bottom: 10px;
    display: inline-block;
    color: #00495d;
    padding: 10px 25% 10px 0%;
    margin-right: -20%;
  }
  .section4__inner--chart2 .chart__inner2 .chart__inner--left p .chartNum {
    color: #f00;
  }
}

@media all and (max-width: 769px) {
  .section4__inner--chart2 .chart__inner2 .chart__inner--right {
    width: 45%;
  }
}

.section4__inner--chart2 .chart__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  max-width: 700px;
  margin: auto;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 769px) {
  .section4__inner--chart2 .chart__inner {
    padding: 10px 0;
  }
}

.section4__inner--chart2 .chart__inner--left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section4__inner--chart2 .chart__inner--left p {
  border-bottom: 1px solid #00495d;
  padding-bottom: 10px;
  display: inline-block;
  color: #00495d;
  width: 100%;
}

@media all and (min-width: 769px) {
  .section4__inner--chart2 .chart__inner--left p {
    position: absolute;
    right: -15%;
  }
}

.section4__inner--chart2 .chart__inner--left p .chartNum {
  color: #f00;
}

.section4__inner--chart2 .chart__inner--left .pic_left {
  text-align: center;
}

.section4__inner--chart2 .chart__inner--left .pic_left img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.section4__inner--chart2 .chart__inner--right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4__inner--chart2 .chart__inner--right p {
  border-bottom: 1px solid #00495d;
  padding-bottom: 10px;
  display: inline-block;
  color: #00495d;
  width: 100%;
  padding-left: 20%;
  margin-left: -20%;
  position: relative;
  z-index: 1;
}

.section4__inner--chart2 .chart__inner--right p .chartNum {
  color: #f00;
}

.section4__inner--chart2 .chart__inner--right .pic_right {
  text-align: center;
}

.section4__inner--chart2 .chart__inner--right .pic_right img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.section4__inner--chart3 .chart__inner1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section4__inner--chart3 .chart__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  max-width: 1000px;
  text-align: left;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section4__inner--chart3 .chart__inner--left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner--left {
    width: 100%;
  }
}

.section4__inner--chart3 .chart__inner--left p {
  padding-bottom: 20px;
  display: inline-block;
  color: #00495d;
  width: 100%;
  position: relative;
  line-height: 30px;
}

.section4__inner--chart3 .chart__inner--left p .chartNum {
  color: #f00;
}

.section4__inner--chart3 .chart__inner--left p ::before {
  content: '．';
  display: block;
  position: absolute;
  left: -20px;
  top: 2px;
  color: #00495d;
  font-size: 15px;
}

.section4__inner--chart3 .chart__inner--left .pic_left {
  text-align: center;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner--left .pic_left {
    margin-top: 20px;
  }
}

.section4__inner--chart3 .chart__inner--left .pic_left img {
  width: 100%;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner--left .pic_left img {
    width: 100%;
  }
}

.section4__inner--chart3 .chart__inner--right {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner--right {
    width: 100%;
  }
}

.section4__inner--chart3 .chart__inner--right p {
  padding-bottom: 10px;
  display: inline-block;
  color: #1c404a;
  width: 100%;
  position: relative;
}

.section4__inner--chart3 .chart__inner--right p ::before {
  content: '．';
  display: block;
  position: absolute;
  left: -20px;
  top: 10\px;
  color: #00495d;
  font-size: 15px;
}

.section4__inner--chart3 .chart__inner--right .pic_right {
  text-align: center;
  border-bottom: 1px solid #000;
}

@media all and (max-width: 769px) {
  .section4__inner--chart3 .chart__inner--right .pic_right {
    margin-top: 20px;
  }
}

.section4__inner--chart3 .chart__inner--right .pic_right img {
  width: 100%;
}

.section4 h2 {
  font-size: 45px;
  color: #4e381d;
  font-weight: 700;
  line-height: 70px;
  font-family: 'Noto Serif TC', serif;
}

@media all and (max-width: 1280px) {
  .section4 h2 {
    font-size: 45px;
    line-height: 70px;
  }
}

.section4 h3 {
  font-size: 35px;
  color: #4e381d;
  font-weight: 700;
  font-family: 'Noto Serif TC', serif;
  line-height: 50px;
}

@media all and (max-width: 769px) {
  .section4 h3 {
    font-size: 35px;
    line-height: 50px;
  }
}

footer {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #2a2f3d;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

@media all and (max-width: 769px) {
  footer {
    padding: 20px 10px;
    font-size: 14px;
  }
}

footer p {
  line-height: 22px;
}

@media all and (max-width: 769px) {
  footer p {
    line-height: 22px;
  }
}

.goTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.goTop img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */