$pc_m: 1366px;
$pc_s: 1280px;
$pad_hight: 1366px;
$pad: 769px;
$mb_l: 440px;
$mb_m: 376px;
$mb_s: 321px;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap');
body {
  overflow-x: hidden;
}
section {
  overflow-x: hidden;
}
@mixin pad-hight_m() {
  @media all and (max-height: $pad_hight) {
    @content;
  }
}
@mixin pc-width_m() {
  @media all and (max-width: $pc_m) {
    @content;
  }
}
@mixin pc-width_s() {
  @media all and (max-width: $pc_s) {
    @content;
  }
}
@mixin pad-width() {
  @media all and (max-width: $pad) {
    @content;
  }
}
@mixin mb-width_l() {
  @media all and (max-width: $mb_l) {
    @content;
  }
}
@mixin mb-width_m() {
  @media all and (max-width: $mb_m) {
    @content;
  }
}
@mixin mb-width_s() {
  @media all and (max-width: $mb_s) {
    @content;
  }
}

.pc_only {
  display: block;
}

@media all and (max-width: 769px) {
  .pc_only {
    display: none;
  }
}

.mb_only {
  display: none;
}

@media all and (max-width: 769px) {
  .mb_only {
    display: block;
  }
}

.section1 {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
  .kvBox {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .title_kv--inner1 {
    margin: 10px 0;
  }
  .title_kv--inner2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .cw40logo {
      width: 36%;
      margin: 1%;
    }
    .cross {
      width: calc(5%);
      margin: 1% 5%;
      height: calc(5%);
    }
    .logo {
      width: 46%;
      margin: 1%;
    }
  }
  .title_kv--inner3 {
    display: flex;
    align-items: center;
    color: #fff;
    height: 30px;
    justify-content: flex-end;
    cursor: pointer;
    .play {
      width: 20px !important;
      height: 20px !important;
      margin-left: 5px;
    }
  }
  .scroll_down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: 3;
    cursor: pointer;
    img {
      width: 50px;
      margin: auto;
    }
    p {
      color: #fff;
      padding: 0;
      margin: 0;
    }
  }
  .mask {
    opacity: 0.3;
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .mask_kv {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
  .title_kv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 70%;
    transition: 0.5s;
    max-width: 280px;
    animation: title_kv 1 1s 1s linear backwards;
    @keyframes title_kv {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @media screen and (min-width: 500px) {
      max-width: 320px;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 30%;
      max-width: 370px;
    }
    @media screen and (min-width: 1500px) {
      max-width: 400px;
    }
  }
  /*kv_video*/
  .kvVideo {
    width: 100%;
    /* max-height: 1366px; */
    overflow: hidden;
    z-index: -1;
  }

  .iframe {
    /* height: 100vh; */
    margin: auto;
    position: relative;
  }

  .video-container {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    background-image: url(./../images/kv/kv_pc.jpg);
    background-size: cover;
    background-position: center top;
    @include pad-width() {
      background-image: url(./../images/kv/kv_mb.jpg);
    }
  }

  .video-container iframe,
  .video-container object,
  .video-container embed,
  .video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0;
    min-height: 100%;
    width: 100%;
    z-index: -100;
    height: 100vh;
  }

  .kv {
    position: relative;
    z-index: 1;
  }

  .shadow_block {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000),
      color-stop(transparent),
      to(transparent)
    );
    background: linear-gradient(180deg, #000, transparent, transparent);
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    justify-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    top: 0;
  }

  #video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
}

.section2 {
  padding: 100px 0;
  @include pad-width() {
    padding: 50px 0 80px;
  }
  &__con {
    p {
      display: inline-block;
    }
    a {
      color: #469dad;
      transition: 0.3s ease;
      display: initial;
      text-decoration: none;
      border-bottom: 1px solid #469dad;
      &:hover {
        border-bottom: 1px solid rgba(70, 157, 173, 0.4);
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &--photo {
      width: 50%;
      @include pad-width() {
        width: 90%;
      }
    }
    &--word {
      width: 50%;
      padding: 50px 80px;
      line-height: 40px;
      font-size: 20px;
      @include pad-width() {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        line-height: 35px;
      }
    }
    img {
      width: 100%;
    }
    .quote {
      color: #4e381d;
      font-size: 30px;
      line-height: 40px;
      @include pad-width() {
        font-size: 26px;
        line-height: 35px;
      }
    }
    h2 {
      font-size: 45px;
      color: #4e381d;
      font-weight: 700;
      line-height: 70px;
      font-family: 'Noto Serif TC', serif;
      @include pc-width_s() {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}

.section3 {
  &__con {
    &--up {
      background-color: #262a34;
      .section3__inner {
        display: flex;
        @include pad-width() {
          flex-wrap: wrap;
        }
        &--left {
          width: 40%;
          padding: 50px 80px;
          display: flex;
          align-items: center;
          @include pc-width_s() {
            padding: 20px 30px;
          }
          @include pad-width() {
            width: 100%;
            padding: 50px 20px;
          }
          .quote {
            color: #efd7bb;
            font-size: 30px;
            line-height: 40px;
            @include pad-width() {
              font-size: 26px;
              line-height: 35px;
            }
          }
          h2 {
            color: #efd7bb;
            font-size: 45px;
            font-weight: 700;
            line-height: 70px;
            font-family: 'Noto Serif TC', serif;
            @include pc-width_s() {
              font-size: 30px;
              line-height: 40px;
            }
          }
          span {
            font-size: 99px;
            color: #fff;
          }
          p {
            color: #a6937c;
          }
          &--left {
            width: 40%;
          }
          &--right {
            width: 40%;
          }
        }
        &--right {
          // padding: 30px;
          width: 60%;
          color: #efd7bb;
          @include pad-width() {
            width: 100%;
          }
          .year__con {
            display: flex;
            flex-wrap: nowrap;
            @include pad-width() {
              flex-wrap: wrap;
            }
          }
          .year__con--line1 {
            width: 25%;
            cursor: pointer;
            @include pad-width() {
              width: 100%;
              flex-wrap: nowrap;
              display: flex;
              .year__inner {
                width: 33.3333%;
              }
            }
          }
          .year__con--line2 {
            width: 25%;
            cursor: pointer;
            @include pad-width() {
              width: 33.3333%;
            }
          }
          .year__con--line3 {
            width: 25%;
            cursor: pointer;
            @include pad-width() {
              width: 33.3333%;
            }
          }
          .year__con--line4 {
            width: 25%;
            cursor: pointer;
            @include pad-width() {
              width: 33.3333%;
            }
          }
          .year__inner {
            position: relative;
            cursor: pointer;
            &:hover {
              &::after {
                background-color: rgba(38, 42, 52, 0.4);
              }
            }
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(38, 42, 52, 0.8);
              top: 0;
              left: 0;
              transition: 0.3s ease;
            }
            img {
              width: 100%;
              vertical-align: middle;
              height: auto;
              position: relative;
              outline: 1px solid #fff;
            }
            p {
              position: absolute;
              z-index: 1;
              font-family: 'Noto Serif TC', serif;
              text-shadow: 0px 0px 10px #000;
              height: 100%;
              width: 100%;
              display: flex;
              font-size: 30px;
              align-items: center;
              justify-content: center;
              top: 0;
              left: 0;
              @include pad-width() {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    &--down {
      background-color: #2a2f3d;
      .section3__inner {
        display: flex;
        @include pad-width() {
          flex-wrap: wrap;
        }
        &--left {
          width: 40%;
          padding: 50px 80px;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          @include pc-width_s() {
            padding: 20px 20px;
          }
          @include pad-width() {
            width: 100%;
            padding: 20px 20px 20px;
          }
          .bg {
            position: absolute;
            font-size: 250px;
            text-shadow: 0 0 1px #eed7bc;
            color: #2c303b;
            left: 45%;
            top: 50%;
            z-index: 0;
            transform: translate(-50%, -50%);
            font-weight: 700;
            opacity: 0.7;
            font-style: italic;
            font-family: 'Noto Serif TC', serif;
            letter-spacing: -37px;
            @include pc-width_s() {
              font-size: 200px;
              top: 50%;
              letter-spacing: -10px;
            }
            @include pad-width() {
              font-size: 150px;
              top: 50%;
            }
            @include mb-width_s() {
              font-size: 130px;
              top: 50%;
            }
          }
          span {
            color: #fff;
            position: relative;
            z-index: 1;
            font-style: italic;
            font-family: 'Noto Serif TC', serif;
            font-size: 70px;
            @media all and (min-width: 768px) {
              font-size: 99px;
            }
          }
          img {
            // margin-top: 200px;
            height: auto;
            width: 40%;
            position: relative;
            z-index: 1;
            @media all and (min-width: 768px) {
              padding-top: 0%;
             }
            @media all and (min-width: 1200px) {
             padding-top: 20%;
            }
            @include pc-width_s() {
              margin-top: 80px;
            }
            @include pad-width() {
              height: auto;
              width: 40%;
            }
          }
        }
        &--right {
          width: 60%;
          color: #efd7bb;
          padding: 50px 0;
          @include pc-width_s() {
            width: 50%;
            margin: auto;
          }
          @include pad-width() {
            padding: 0px 0 50px;
          }
          .owl-theme .owl-dots button {
            outline: none;
          }
          .owl-theme .owl-dots {
            @include pc-width_s() {
              margin-top: 0px;
            }
            @include pad-width() {
              margin-top: -30px;
              z-index: 100;
              position: relative;
            }
          }
          .owl-theme .owl-dots .owl-dot.active span {
            @include pad-width() {
              width: 25px;
            }
          }
          .owl-theme .owl-dots .owl-dot span {
            @include pad-width() {
              height: 7px;
              outline: none;
            }
          }
          .owl-carousel .owl-nav .owl-prev {
            @include pad-width() {
              left: -25%;
            }
            @include mb-width_l() {
              left: -35%;
            }
            @include mb-width_m() {
              left: -40%;
            }
            @include mb-width_s() {
              left: -43%;
            }
          }
          .owl-carousel .owl-nav .owl-next {
            @include pad-width() {
              right: -25%;
            }
            @include mb-width_l() {
              right: -35%;
            }
            @include mb-width_m() {
              right: -40%;
            }
            @include mb-width_s() {
              right: -43%;
            }
          }
          .item {
            margin: 70px 10px;
            transition: 0.3s ease;
            transform: scale(1);
            @include pc-width_s() {
              margin: 50px 0px;
            }
            p {
              position: absolute;
              bottom: 0px;
              left: 0px;
              padding: 10px 15px;
              color: #fff;
              width: 100%;
              font-size: 13px !important;
              background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.5),
                transparent
              );
            }
          }
          .center {
            transform: scale(1.3);
            position: relative;
            z-index: 1000;
            @include pc-width_s() {
              transform: scale(1.5);
            }
            @include pad-width() {
              transform: scale(1);
            }
          }
          @include pad-width() {
            width: 80%;
            margin: auto;
          }
          img {
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}

.chartNum_1 {
  color: #f9ff4b;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

.chartNum_2 {
  color: #ff4c76;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

.chartNum_3 {
  color: #a6937c;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.section4 {
  padding: 100px 0 0;
  background-image: url('./../images/chart/bg-chart.jpg');
  background-size: cover;
  @include pad-width() {
    padding: 100px 0 0;
    background-image: url('./../images/chart/bg-chart_mb.jpg');
  }
  &__con {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  &__inner {
    padding: 50px 0;
    @include pad-width() {
      padding: 50px 30px;
    }

    > p {
      font-size: 20px;
      line-height: 30px;
      color: #a6937c;
      margin-bottom: 30px;
      margin-top: 15px;
    }
    &--chart1 {
      border: 7px solid #15a1ff;
      max-width: 680px;
      margin: auto;
      background-color: #00495d;
      padding: 30px 10px;
      position: relative;
      text-align: left;
      @include pad-width() {
        padding-bottom: 200px;
      }
      .chart__inner {
        position: relative;
      }
      .chart__inner--line1 {
        width: 0%;
        height: 20px;
        background-color: #7ecef4;
        margin-left: -10px;
        transition: 0.3s ease;
      }
      .chart__inner--num {
        margin-left: 10%;
        @include pad-width() {
          margin-left: 7%;
        }
      }
      .chart__inner--num3 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include pad-width() {
          position: relative;
          transform: translateY(0%);
        }
      }
      .chart__inner--line2 {
        width: 0%;
        height: 20px;
        background-color: #7ecef4;
        margin-left: -10px;
        transition: 0.3s ease;
        margin-top: 10px;
      }
      .chart__inner--line3 {
        width: 0%;
        height: 20px;
        background-color: #7ecef4;
        margin-left: -10px;
        transition: 0.3s ease;
        margin-top: 10px;
        margin-bottom: 40px;
        @include pad-width() {
          margin-bottom: 0px;
        }
        span{
          line-height: 33px;
          @include pad-width() {
            line-height: auto;
          }
        }
      }
      .chart__inner--line4 {
        width: 0%;
        height: 20px;
        background-color: #7ecef4;
        margin-left: -10px;
        transition: 0.3s ease;
        margin-top: 10px;
      }
      .chart__inner--line1Ani {
        animation: line1Ani 1.5s forwards linear;
      }
      .chart__inner--line2Ani {
        animation: line2Ani 1.5s forwards linear;
      }
      .chart__inner--line3Ani {
        animation: line3Ani 1.5s forwards linear;
      }
      .chart__inner--line4Ani {
        animation: line4Ani 1.5s forwards linear;
      }
      @keyframes line1Ani {
        0% {
          width: 0%;
        }
        100% {
          width: 95%;
        }
      }
      @keyframes line2Ani {
        0% {
          width: 0%;
        }
        100% {
          width: 35%;
        }
      }
      @keyframes line3Ani {
        0% {
          width: 0%;
        }
        100% {
          width: 10%;
        }
      }
      @keyframes line4Ani {
        0% {
          width: 0%;
        }
        100% {
          width: 58%;
        }
      }

      p {
        color: #fff;
        .chartNum {
          color: #f00;
        }
      }
      .pic_left {
        position: absolute;
        left: -20%;
        top: 0;
        height: 100%;
        @include pad-width() {
          position: absolute;
          height: 35%;
          left: 3%;
          bottom: -5%;
          top: initial;
        }
        img {
          height: 100%;
        }
      }
      .pic_right {
        position: absolute;
        right: -15%;
        bottom: -15%;
        height: 50%;
        @include pad-width() {
          position: absolute;
          height: 20%;
          right: 0%;
          bottom: -5%;
        }
        img {
          height: 100%;
        }
      }
    }
    &--chart2 {
      .chart__inner1 {
        position: relative;
        .chart_bg {
          position: absolute;
          width: 200%;
          left: -10%;
          top: 115%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        .chart__inner--left {
          @include pad-width() {
            width: 45%;
            img {
              position: relative;
              z-index: 1;
            }
          }
        }
        .chart__inner--right {
          position: relative;
          @include pad-width() {
            width: 55%;
            p {
              border-bottom: 1px solid #00495d;
              padding-bottom: 10px;
              display: inline-block;
              color: #00495d;
              padding: 10px 0 10px 20%;
              margin-left: -15%;
              .chartNum {
                color: #f00;
              }
            }
          }
        }
      }
      .chart__inner2 {
        .chart__inner--left {
          @include pad-width() {
            width: 55%;
            justify-content: flex-end;
            p {
              border-bottom: 1px solid #00495d;
              padding-bottom: 10px;
              display: inline-block;
              color: #00495d;
              padding: 10px 25% 10px 0%;
              margin-right: -20%;
              .chartNum {
                color: #f00;
              }
            }
          }
        }
        .chart__inner--right {
          @include pad-width() {
            width: 45%;
          }
        }
      }
      .chart__inner {
        display: flex;
        width: 100%;
        padding: 0px 30px;
        max-width: 700px;
        margin: auto;
        text-align: left;
        flex-wrap: wrap;
        @include pad-width() {
          padding: 10px 0;
        }
        &--left {
          width: 50%;
          display: flex;
          align-items: center;
          position: relative;
          p {
            border-bottom: 1px solid #00495d;
            padding-bottom: 10px;
            display: inline-block;
            color: #00495d;
            width: 100%;
            @media all and (min-width: 769px) {
              position: absolute;
              right: -15%;
            }
            .chartNum {
              color: #f00;
            }
          }
          .pic_left {
            text-align: center;
            img {
              width: 100%;
              position: relative;
              z-index: 2;
              @include pad-width() {
                // width: 120%;
              }
            }
          }
        }
        &--right {
          width: 50%;
          display: flex;
          align-items: center;
          p {
            border-bottom: 1px solid #00495d;
            padding-bottom: 10px;
            display: inline-block;
            color: #00495d;
            width: 100%;
            padding-left: 20%;
            margin-left: -20%;
            position: relative;
            z-index: 1;
            .chartNum {
              color: #f00;
            }
          }
          .pic_right {
            text-align: center;
            img {
              width: 100%;
              position: relative;
              z-index: 0;
              @include pad-width() {
                // width: 120%;
              }
            }
          }
        }
      }
    }
    &--chart3 {
      .chart__inner1 {
        display: flex;
        @include pad-width() {
          flex-direction: column-reverse;
        }
      }
      .chart__inner {
        display: flex;
        width: 100%;
        padding: 30px;
        max-width: 1000px;
        text-align: left;
        margin: auto;
        flex-wrap: wrap;
        &--left {
          width: 50%;
          align-items: center;
          justify-content: center;
          display: flex;
          @include pad-width() {
            width: 100%;
          }
          p {
            padding-bottom: 20px;
            display: inline-block;
            color: #00495d;
            width: 100%;
            position: relative;
            line-height: 30px;
            .chartNum {
              color: #f00;
            }
            ::before{
              content: '．';
              display: block;
              position: absolute;
              left: -20px;
              top: 2px;
              color: #00495d;
              font-size: 15px;
            }
          }
          .pic_left {
            text-align: center;
            @include pad-width() {
              margin-top: 20px;
            }
            img {
              width: 100%;
              @include pad-width() {
                width: 100%;
              }
            }
          }
        }
        &--right {
          width: 50%;
          align-items: center;
          justify-content: center;
          display: flex;
          @include pad-width() {
            width: 100%;
          }
          p {
            padding-bottom: 10px;
            display: inline-block;
            color: #1c404a;
            width: 100%;
            position: relative;
            ::before{
              content: '．';
              display: block;
              position: absolute;
              left: -20px;
              top: 10\px;
              color: #00495d;
              font-size: 15px;
            }
          }
          .pic_right {
            text-align: center;
            border-bottom: 1px solid #000;
            @include pad-width() {
              margin-top: 20px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  h2 {
    font-size: 45px;
    color: #4e381d;
    font-weight: 700;
    line-height: 70px;
    font-family: 'Noto Serif TC', serif;
    @include pc-width_s() {
      font-size: 45px;
      line-height: 70px;
    }
  }
  h3 {
    font-size: 35px;
    color: #4e381d;
    font-weight: 700;
    font-family: 'Noto Serif TC', serif;
    line-height: 50px;
    @include pad-width() {
      font-size: 35px;
      line-height: 50px;
    }
  }
}

footer {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #2a2f3d;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

@include pad-width() {
  footer {
    padding: 20px 10px;
    font-size: 14px;
  }
}

footer p {
  line-height: 22px;
}

@include pad-width() {
  footer p {
    line-height: 22px;
  }
}

.goTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  display: none;
  img {
    width: 100%;
  }
}
